APP_ENV=development
API_PORT=8080
WORKER_PORT=8081
WEB_USER_PORT=3210
WEB_ADMIN_PORT=3211
POSTGRES_DB=llm_factory
POSTGRES_USER=llm_factory
POSTGRES_PASSWORD=llm_factory_dev
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=15432
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_EXTERNAL_PORT=16379
S3_BUCKET=llm-factory-dev
S3_ENDPOINT=http://minio:9000
S3_EXTERNAL_PORT=19000
S3_CONSOLE_EXTERNAL_PORT=19001
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
